.header {
  display: flex;
  justify-content: space-between;
  height: 80%;
  margin-top: 1rem;
}

.nav-container {
  margin-top: 1.2rem;
}

.nav {
  width: 1.8rem;
  background-color: #068f;
  height: 2px;
  position: relative;
}

.nav::after {
  position: absolute;
  content: "";
  top: -0.4rem;
  width: 1rem;
  height: 2px;
  background-color: #068f;
  margin-left: .4rem;
}

.nav::before {
  position: absolute;
  content: "";
  top: 0.4rem;
  width: 1rem;
  height: 2px;
  background-color: #068f;
  margin-left: .4rem;
}
